# Ignore real configuration files
WeatherApi/appsettings.json
WeatherApi/appsettings.Development.json

# Build output
bin/
obj/
out/
Debug/
Release/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Database
*.mdf
*.ldf

# Other tools
node_modules/
dist/
.env

# Docker
*.pid

# Published files
/app/publish/
/.vs/LogiTrack/FileContentIndex

# VS local config
*.dtbcache.v2
DocumentLayout.json
DocumentLayout.backup.json