<mat-card class="dashboard-card">
  <h2>Drivers Dashboard</h2>

  <div class="form-container">
  <mat-card class="driver-form-card">
    <div class="driver-form">
      <mat-form-field appearance="outline" class="driver-input">
        <mat-label>Driver Name</mat-label>
        <input matInput [(ngModel)]="newDriverName" placeholder="Enter name" />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="add-driver-btn"
        style="outline: auto;"
        (click)="registerDriver()"
        [disabled]="!newDriverName.trim()">
        Add Driver
      </button>
    </div>
  </mat-card>
</div>

  <div *ngIf="loading" class="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <table mat-table [dataSource]="drivers" *ngIf="!loading" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let d">{{ d.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let d">{{ d.name }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let d">
        <mat-select
            [(value)]="d.status"
            (selectionChange)="updateStatus(d, $event.value)"
            panelClass="driver-panel">
            <mat-option *ngFor="let s of statuses" [value]="s">{{ s }}</mat-option>
        </mat-select>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'name', 'status']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'status'];"></tr>
  </table>
</mat-card>
